### (1) データベースの作成

In [1]:
# SQLite のモジュールをインポートする
import sqlite3
 
# Weather.db に接続する
conn = sqlite3.connect("Weather.db", isolation_level=None)

# "GW" テーブルを作成する (month, day, highest, lowest, humidity, weather) 
# VARCHAR: 可変長文字列型, INTEGER: 整数, REAL: 実数
sql="""
CREATE TABLE GW (
    month INTEGER, 
    day INTEGER, 
    highest REAL, 
    lowest REAL, 
    humidity INTEGER, 
    weather VARCHAR(10)
);
"""

conn.execute(sql)

### (2) テーブル作成のやり直し

In [2]:
# データを作り直したいときには、次のコマンドを実行し、
# 「(1) データベースの作成」の "GW" テーブルを作成する一連のコマンドを、改めて実行する。
# その後、以下の「(3) レコードの登録」以降が、実行可能になる。
# 実際に実行するには、コメント記号(#)を除いてから実行する。
#conn.execute("DROP TABLE GW;")

### (3) レコードの登録

In [3]:
# レコードを登録する
conn.execute("INSERT INTO GW VALUES (4, 29, 19.2, 11.3, 76, 'Rain');")
conn.execute("INSERT INTO GW VALUES (4, 30, 21.7, 10.6, 49, 'Sunny');")
conn.execute("INSERT INTO GW VALUES (5, 1, 19.0, 10.1, 76, 'Rain');")
conn.execute("INSERT INTO GW VALUES (5, 2, 21.5, 7.7, 62, 'Sunny');") 
conn.execute("INSERT INTO GW VALUES (5, 3, 21.6, 7.8, 54, 'Sunny');") 
conn.execute("INSERT INTO GW VALUES (5, 4, 26.1, 9.8, 49, 'Sunny');")  
conn.execute("INSERT INTO GW VALUES (5, 5, 29.3, 11.9, 45, 'Sunny');")  
conn.execute("INSERT INTO GW VALUES (5, 6, 26.1, 15.2, 57, 'Cloudy');") 
conn.execute("INSERT INTO GW VALUES (5, 7, 28.5, 16.7, 57, 'Sunny');")  
conn.execute("INSERT INTO GW VALUES (5, 8, 22.3, 12.2, 41, 'Sunny');")

### (4) 登録したレコードの表示

In [4]:
# 登録したデータを取得して表示する
c=conn.cursor()
c.execute("SELECT * FROM GW;")
for row in c:
    print(row)

(4, 29, 19.2, 11.3, 76, 'Rain')
(4, 30, 21.7, 10.6, 49, 'Sunny')
(5, 1, 19.0, 10.1, 76, 'Rain')
(5, 2, 21.5, 7.7, 62, 'Sunny')
(5, 3, 21.6, 7.8, 54, 'Sunny')
(5, 4, 26.1, 9.8, 49, 'Sunny')
(5, 5, 29.3, 11.9, 45, 'Sunny')
(5, 6, 26.1, 15.2, 57, 'Cloudy')
(5, 7, 28.5, 16.7, 57, 'Sunny')
(5, 8, 22.3, 12.2, 41, 'Sunny')

### (5) SQLの使用例

In [5]:
# 「制限」（ある条件に該当するタプル（行）の取得）の例
# 天気が雨である日の、すべての情報を取得する
sql="SELECT * FROM GW WHERE weather='Rain';"
c=conn.execute(sql)
for row in c:
    print (row)

(4, 29, 19.2, 11.3, 76, 'Rain')
(5, 1, 19.0, 10.1, 76, 'Rain')

In [6]:
# 「射影」（ある属性（カラム）だけを取得）の例
# 月日と、その日の天気を取得する
sql="SELECT month, day, weather FROM GW;"
c=conn.execute(sql)
for row in c:
    print (row)

(4, 29, 'Rain')
(4, 30, 'Sunny')
(5, 1, 'Rain')
(5, 2, 'Sunny')
(5, 3, 'Sunny')
(5, 4, 'Sunny')
(5, 5, 'Sunny')
(5, 6, 'Cloudy')
(5, 7, 'Sunny')
(5, 8, 'Sunny')

In [7]:
# 「最高気温」の降順（descending order）に並べ、月日と、その最高気温を取得する
sql="SELECT month, day, highest FROM GW ORDER BY highest DESC;"
c=conn.execute(sql)
for row in c:
    print (row)

(5, 5, 29.3)
(5, 7, 28.5)
(5, 4, 26.1)
(5, 6, 26.1)
(5, 8, 22.3)
(4, 30, 21.7)
(5, 3, 21.6)
(5, 2, 21.5)
(4, 29, 19.2)
(5, 1, 19.0)

In [8]:
# 「最低気温」の昇順（ascending order）に並べ、月日とその最低気温を取得する
sql="SELECT month, day, lowest FROM GW ORDER BY lowest ASC;"
c=conn.execute(sql)
for row in c:
    print (row)

(5, 2, 7.7)
(5, 3, 7.8)
(5, 4, 9.8)
(5, 1, 10.1)
(4, 30, 10.6)
(4, 29, 11.3)
(5, 5, 11.9)
(5, 8, 12.2)
(5, 6, 15.2)
(5, 7, 16.7)

In [9]:
# 「最高気温」が25度以上となった月日と、その最高気温、天気を取得する
sql="SELECT month, day, highest, weather FROM GW WHERE highest>=25;"
c=conn.execute(sql)
for row in c:
    print (row)

(5, 4, 26.1, 'Sunny')
(5, 5, 29.3, 'Sunny')
(5, 6, 26.1, 'Cloudy')
(5, 7, 28.5, 'Sunny')

In [10]:
# 「最高気温」の最大値を取得する
sql="SELECT MAX(highest) FROM GW;"
c=conn.execute(sql)
row=c.fetchone()
print (row[0])

29.3

In [11]:
# 「最低気温」の最小値を取得する
sql="SELECT MIN(lowest) FROM GW;"
c=conn.execute(sql)
row=c.fetchone()
print (row[0])

7.7

In [12]:
# GWテーブルを天気の種類でグループ化して、天気名と、その天気の平均最高気温を計算する
sql="SELECT weather, AVG(highest) FROM GW GROUP BY weather;"
c=conn.execute(sql)
for row in c:
    print (row)

('Cloudy', 26.1)
('Rain', 19.1)
('Sunny', 24.428571428571427)